<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- MY CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>edit</title>
</head>


<body>
    <div class="p-5 bg-danger text-white text-center">
        <h1>MovieHub</h1>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <div class="card-body">
            <form action="/show/{{show.id}}/edit" method="post">

                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" name="title" id="title" value="{{ show.title }}">
                    {% for message in get_flashed_messages(category_filter=["err_shows_title"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="network">Network:</label>
                    <textarea class="form-control" type="text" name="network" id="network">{{ show.network }}</textarea>
                    {% for message in get_flashed_messages(category_filter=["err_shows_network"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="release_date">Release Date:</label>
                    <input class="form-control" type="date" name="release_date" id="release_date"></textarea>
                    {% for message in get_flashed_messages(category_filter=["err_shows_release_date"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <textarea class="form-control" type="text" name="description"
                        id="description"> {{ show.description }}</textarea>
                    {% for message in get_flashed_messages(category_filter=["err_shows_description"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <button class="btn btn-danger">Update</button>
            </form>
        </div>
    </div>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- MY JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>